body {
  text-align: center;
  font-family: Arial;
  padding: 0px;
  margin: 0px;
  background-color: black;
}

.container {
  width: 70%;
  padding: 1em;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 auto;
  background-color: white;
}

.header {
  background-color: rgb(56, 56, 192);
  padding: 0.5em;
  margin: 0px;
  color: white;
}

footer {
  color: red;
}
